<!DOCTYPE html>
<html>
<head>
  <title>Password Reset Link</title>
  <style>
    .password-reset-link {
      font-family: Arial, sans-serif;
      font-size: 16px;
      color: #333;
      background-color: #f7f7f7;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .password-reset-message {
      margin: 0 0 10px 0;
    }

    .password-reset-url {
      color: #007bff;
      text-decoration: none;
    }

    .password-reset-url:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
  <div class="password-reset-link">
    <p class="password-reset-message">Here is your password reset link:</p>
    <a class="password-reset-url" href={{otp}}>Password Reset Link</a>
  </div>
</body>
</html>
